// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.gravatar {
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#leaderboard thead {
  display: none;
}

td.skinny {
max-width: 200px;
}

#leaderboard
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #76600;
  background: #fffcd7;
}

#leaderboard caption
{
  caption-side: bottom;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

#leaderboard th, #leaderboard td
{
  padding: 0.5em;
  text-align: left;
  color: #766000;
}

#leaderboard th[scope=col]
{
  color: #000;
  background-color: #8fadcc;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

#leaderboard th+th[scope=col]
{
  color: #fff;
  background-color: #7d98b3;
  border-right: 1px dotted #666;
}

#leaderboard th[scope=row]
{
  background-color: #b8cfe5;
  border-right: 2px solid #333;
}

#leaderboard tr.alt th, #leaderboard tr.alt td
{
  color: #2a4763;
}

#leaderboard tr:hover th[scope=row], #leaderboard tr:hover td
{
  background-color: #e8ae10;
  color: #fff;
}