<!DOCTYPE html>
<html>
<head>
  <title>Class Of The Coders 2013 Leaderboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Faster+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css'>
</head>
<body>
<div align="center" id="content">
  <%= yield %>
  <hr />
  a Chris Kelly Automatically Wins Clash Of The Coders 2013 Production
</div>
</body>
</html>
